* {
    margin: 0;
    padding: 0;
    border: none;

    box-sizing: border-box;
}

.hidden { display: none; }

.wrapper{
    display: flex;

}

.wrapper img {
    height: 70%;
}

.icon{
    width: 150px;
    height: 150px;
    padding-left: 20px;
    padding-top: 45px;
    transition: all 0.3s ease;
}

.icon:hover {
    transform: scale(1.2);
    filter: invert(100%);
  }